:root{
    --bg-color: #000000;
    --primary-color: #0B97F4;
    --secondary-color: #ECEAF6;
    --third-color: #1C1736;
    --text-color:#FFF;
    font-family:  'poppins';
    font-family: 'roboto';
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color)
}

h1 {
    color:#FFF
}

footer {
    font-family: 'poppins';
    color: var(--secondary-color);
}

p{
    font-family: 'poppins';
    color: var(--secondary-color)
}

.button {
    background: var(--primary-color);
    color: var(--text-color);
    border: 0;
    border-radius: 4em
}

.link{
    color: var(--text-color) 
}

