@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --transition: all 0,1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
}

section{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
   
}

section h1{
    font-size: 3em;
}
section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2.5em;
}

section form{
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0,.1);
}
section form label{
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em
}

section form input{
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 9px;
    border: none;
    outline-color: #0B97F4;
    background-color: #eee;
}

section form input[type='submit']{
    margin-top: 1.5em;
    background-color: #0B97F4;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    transition: var(--transition);

}

section form input[type='submit'] :active{
    transform: scale(0.97);
}

section p{
    margin-top: 1.5em;
}
section p a{
    text-decoration: #0B97F4;
}


section button{
    background-color: #0B97F4;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    transition: var(--transition);
    border: none;
    padding: 0.5em 1em;
    border-radius: 9px;
    margin-top: 1.5em;
    font-size: 1em;
}
